<nav>
   <div class="nav-wrapper">
      <a href="/" onClick="showSpinner();" class="brand-logo">&nbsp;&nbsp;European Soccer League Standings</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/leagues" onClick="showSpinner();">Leagues&nbsp;&nbsp;</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
         <li><a href="/leagues" onClick="showSpinner();">Leagues</a></li>
      </ul>
   </div>
</nav>
