<% layout('./layout') -%>

   <div class="container">
      <div class="row">



         <br>
         <img src="http://9jafans.com/wp-content/uploads/2017/05/fi-12.jpg" width=100% alt="slika">



         <div class="spinner" id="spinner">
            <div class="spinspin">
               <div class="preloader-wrapper big active loader center-align">
                  <div class="spinner-layer spinner-blue-only">
                     <div class="circle-clipper left">
                        <div class="circle"></div>
                     </div>
                     <div class="gap-patch">
                        <div class="circle"></div>
                     </div>
                     <div class="circle-clipper right">
                        <div class="circle"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
