<% layout('./layout') -%>

   <div class="container">
      <div class="row">



         <br>
         <img src="http://9jafans.com/wp-content/uploads/2017/05/fi-12.jpg" width=100% alt="slika">

      </div>
   </div>
